table {
    border-collapse: collapse;
    width: 100%;
    th, td {
        border: 1px solid #ffffff;
        text-align: left;
        padding: 8px;
        font-size: 14px;
    }
    th {
        background-color: var(--black);
        color: white;
    }
    td {
        background-color: #c4c4c4;
        color: var(--black);
    }
}
