.event {
    margin-bottom: 60px;
    .container {
        display: flex;
        flex-direction: column;
        .titleEvent {
            font-weight: bold;
            margin-bottom: 20px;
        }
        .allEvents {
        }
    }
}