.modal {
    .modal-content {
        .form {
            .isLost {
                display: flex;
                align-items: center;
                
                margin-left: -325px;
                .checkbox {
                    width: 20px;
                    height: 20px;
                    background: var(--purple);
                }
                span { 
                    margin-left: -40px;
                }
            }
        }
    }
}